Taking input from the user

In [9]:
a = input("Enter the value of a") #By the default it takes user input as string.

Enter the value of a 45

In [11]:
b = input("Enter the value of b")

Enter the value of b 4

In [12]:
b

'4'

In [13]:
a + b

'454'

In [14]:
int(a) + int(b)

49

We can also write this as:-

In [2]:
c = input()

 67

In [4]:
c

'67'

STRING FORMATTING(f-strings)-

In [11]:
name = "Vikash"

In [13]:
age = 19

In [14]:
f"Hello, {name}. You are {age} years old."

'Hello, Vikash. You are 19 years old.'